img {
    width: 100%;
    max-width: 100%;
}

.container {
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: 10% 1fr 15%;
    grid-template-areas: "header header"
        "content sidebar"
        "footer footer";
    width: 100vw;
    height: 100vh;
    margin: auto;
    overflow: hidden;
}

.head {
    grid-area: header;
    text-align: center;
    background-color: rgb(163, 150, 150);
}

.content {
    display: grid;
    grid-area: content;
    text-align: center;
    background-color: rgb(224, 224, 185);
}

.article {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 0.5fr;
    align-content: end;
}

.more_1,
.more_2,
.more_3 {
    margin: 15px;
    font-size: 1em;
    text-align: center;
    background-color: rgb(221, 192, 113);
}

.more_1 {
    grid-area: 1/1/2/2;
}

.more_2 {
    grid-area: 1/2/2/3;
}

.more_3 {
    grid-area: 2/1/3/3;
}

.pic_conteiner {
    width: 50%;
}

.sidebar {
    grid-area: sidebar;
    text-align: center;
    background-color: rgb(181, 221, 166);
}

@media screen and (max-width:484px) {
    .container {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 10% 1fr 15%;
        grid-template-areas: "header header"
            "content content"
            "sidebar sidebar";
        width: 100vw;
        margin: auto;
        overflow: hidden;
    }

    .article {
        display: flex;
        flex-direction: column;
    }

    .more_1,
    .more_2,
    .more_3 {
        margin: 2%;
        font-size: 1em;
        text-align: center;
        background-color: rgb(221, 192, 113);
    }

    .pic_conteiner {
        width: 20%;
    }

    .footer,
    .footer_section,
    .fs_1,
    .fs_2,
    .fs_3,
    .fs_4 {
        display: none;
    }
}

@media screen and (min-width: 485px) and (max-width:767px) {
    .container {
        display: grid;
        grid-template-rows: 10% 1fr 15%;
        grid-template-areas: "header header"
            "content content"
            "sidebar sidebar";
        width: 100vw;
        margin: auto;
        overflow: hidden;
    }

    .pic_conteiner {
        width: 35%;
    }

    .footer,
    .footer_section,
    .fs_1,
    .fs_2,
    .fs_3,
    .fs_4 {
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width:1023px) {

    .footer,
    .footer_section,
    .fs_1,
    .fs_2,
    .fs_3,
    .fs_4 {
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    .footer {
        grid-area: footer;
        background-color: rgb(133, 122, 122);
    }

    .footer_section {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .fs_1,
    .fs_2,
    .fs_3,
    .fs_4 {
        margin: 10px;
        font-size: 2vh;
        text-align: center;
        background-color: rgb(209, 192, 192);
    }
}